| <!DOCTYPE html>
block html
    html(lang="en")
        head
            block head
                meta(charset='utf-8')
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
                meta(name='viewport', content='width=device-width, initial-scale=1')
                script(src="require.js", type="text/javascript", data-main="app/main")
                script(src="require-config.js", type="text/javascript")
                link(rel="stylesheet", type="text/css", href="styles.css")
        body
            block body