block html
    html(lang="en")
        head
            block head
                meta(charset='utf-8')
                meta(name='viewport', content='width=device-width, initial-scale=1')
                script(src="tmp/require.js", type="text/javascript", data-main="app/main")
                script(src="tmp/require_config.js", type="text/javascript")
                link(rel="stylesheet", type="text/css", href="tmp/styles.css")
        body
            block body